[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "bundle/moonscript-vim"]
	path = bundle/moonscript-vim
	url = https://github.com/leafo/moonscript-vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-loomscript"]
	path = bundle/vim-loomscript
	url = git@github.com:netmute/vim-loomscript.git
